{% extends "base.html" %}
{% block title %}Профайл пользователя {{user404}}{% endblock %}
{% block content %}
      <div class="container py-5">        
        <h1>Все посты пользователя {{user404}} </h1>
        <h3>Всего постов: {{user_posts_count}} </h3>   
      
        
        {% for post in page_obj %}
        <article>
         <ul>
           <li>
             Автор: {{ user404 }}
           </li>
           <li>
             Дата публикации: {{ post.pub_date|date:"d E Y" }}
           </li>
         </ul>
         <p>{{ post.text}}</p>
        </p>
        <a href="{% url 'posts:post_detail' post.pk%}">подробная информация </a><hr>
         {% if post.group %}
           <a href="{% url 'posts:group' post.group.slug %}">все записи группы</a>
           {% endif %}
        </article>
        {% if not forloop.last %}<hr>{% endif %}
       {% endfor %}
     
       {% include 'posts/includes/paginator.html' %}
      
{% endblock %}